<div>
<p><br>Langue:</br>
<ul ng-repeat="p in competence.competence.langue">
<li>{{p.name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{p.niveau}}
</ul>
</p>
<p><br>Logiciel:</br>
<ul ng-repeat="p in competence.competence.logiciel">
<li>{{p.name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{p.niveau}}
</ul>
</p>
<p><br>System:</br>
<ul ng-repeat="p in competence.competence.systeme">
<li>{{p.name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{p.niveau}}
</ul>
</p>
<p><br>Langage:</br>
<ul ng-repeat="p in competence.competence.langage">
<li>{{p.name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{p.niveau}}
</ul>
</p>
</div>