<div ng-repeat="p in experience.experience">
<p>{{p.debut}}-{{p.fin}}<span style="margin-left:5em; font-weight:bold">{{p.name}}</span>,&nbsp;{{p.duree}},&nbsp;<span style="color : red">{{p.lieu}}</span>, &nbsp;{{p.pays}}</p>
<p style="margin-left:14em">{{p.tasks}}
</div>