<div ng-repeat="p in perso.perso">
<div><image src='{{p.photo}}'  width=90 style="float:right;"/></div>
<ul>
<li>{{p.firstname}}&nbsp;{{p.lastname}}</li>
<li>{{p.birth}}</li>
<li>{{p.address}}</li>
<li>{{p.nationality}}</li>
<li>{{p.email}}</li>
<li>{{p.telephone}}</li>
</ul>
</div>